<a href="https://colab.research.google.com/github/marang-khu/machine_learning_examples/blob/master/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
file = pd.read_excel('KKBOX.xlsx')

In [0]:
file.to_csv('new.csv')

In [0]:
file2 = pd.read_csv('new.csv')

In [0]:
line = file2.head()

In [0]:
line

   Unnamed: 0  no. S29_漢字  ... S29_漢字.2              S29_羅馬字.2  修正
0           0    1     永遠  ...      老瓦厝        lau7 hia7 tshu3 NaN
1           1    2     今生  ...       老爸               lau7 pe7 NaN
2           2    3     紅塵  ...      老朋友         lau7 ping5 iu2 NaN
3           3    4     最愛  ...      美國人         bi2 kok4 lang5 NaN
4           4    5     寂寞  ...    傷痕 纍纍  siong1 hun5 lui2 lui2 NaN

[5 rows x 9 columns]

In [0]:
line.iloc[0,2]

'永遠'